.tab {
  margin-top: 46px;
  overflow: hidden;
}
.tab-content {
  display: none;
}
.tabs {
  a {
    padding: 1px 6px;
  }
  &-link {
    @extend %medium;
    font-size: 26px;
    line-height: 30px;
    background-color: inherit;
    border: none;
    outline: none;
    color: #000;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      text-shadow: 0 0 0.9px #1181b2, 0 0 0.9px #1181b2;
      color: #1181b2;
    }
    &.active {
      text-shadow: 0 0 0.9px #1181b2, 0 0 0.9px #1181b2;
      color: #1181b2;
    }
  }
  &-link + &-link {
    margin-left: 54px;
  }
}
.tab-content {
  margin-top: 47px;
}
.profile {
  &__header {
    max-width: 1312px;
    height: 228px;
    border: 1px solid rgba(#26ace2, 0.23);
    border-radius: 12px;
    // opacity: 0.23;
    display: flex;
    align-items: center;
  }
  &__header-img {
    max-width: 179px;
    max-height: 170.5px;
    margin-left: 34px;
  }
  &__header-info {
    margin-left: 40px;
    gap: 30px;
    display: flex;
    flex-direction: column;
  }
  &__header-text {
    @extend %bold;
    font-size: 36px;
    line-height: 41px;
  }
  &__header-btn {
    @extend %bold;
    font-size: 16px;
    line-height: 18px;
    border-radius: 32px;
    background-color: #fbfafa;
    border: 1px solid rgba(#747473, 0.4);
    padding: 14px 28px;
    text-align: center;
    transition: all 0.5s;
    &:hover {
      border: 1px solid rgba(#747473, 0.4);
      background-color: #000;
      color: #fbfafa;
    }
  }
}
.btn {
  @extend %bold;
  background: #fff;
  font-size: 16px;
  line-height: 18px;
  color: #747473;
  position: relative;
  width: 135px;
  height: 44px;
  border-radius: 32px;
  border: 1px solid #eae7ea;
  padding: 13px 14px 13px 46px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background: #eae7ea;
  }
  &::before {
    content: '';
    position: absolute;
    background-image: url('../images/tab-plus.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 21px;
    height: 21px;
    top: 10.5px;
    left: 18px;
  }
}
.profile__main {
  margin-top: 55px;
  &-item {
    display: flex;
    margin-bottom: 42px;
    align-items: center;
  }
  &-name {
    @extend %medium;
    margin-right: 53px;
    font-size: 18px;
    line-height: 21px;
    color: #747473;
    width: 250px;
  }
  &-descr {
    @extend %medium;
    font-size: 18px;
    line-height: 26px;
  }
  &-lang {
    padding: 13px 30px;
    @extend %bold;
    font-size: 16px;
    line-height: 18px;
    color: #747473;
    background: #eae7ea;
    border: 1px solid #fbfafa;
    border-radius: 32px;
    margin-right: 26px;
  }
  &-social {
    margin-right: 30px;
  }
  &-btn {
    @extend %bold;
    background: #fff;
    font-size: 16px;
    line-height: 18px;
    color: #747473;
    position: relative;
    width: 135px;
    height: 44px;
    border-radius: 32px;
    border: 1px solid #eae7ea;
    padding: 13px 14px 13px 46px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background: #eae7ea;
    }
    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/tab-plus.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 21px;
      height: 21px;
      top: 10.5px;
      left: 18px;
    }
  }
  &-textarea {
    width: 662px;
    height: 112px;
    padding: 30px 44px 30px 35px;
    @extend %regular;
    font-size: 18px;
    line-height: 26px;
    color: #212221;
    background: #ffffff;
    border: 1px solid #eae7ea;
    border-radius: 16px;
    resize: none;
    outline: none;
    transition: all 0.3s;
    &:hover {
      border: 1px solid #1181b2;
    }
    &:target {
      border: 1px solid #1181b2;
    }
  }
  &-skillbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &-title {
    @extend %bold;
    font-size: 20px;
    color: #747473;
    line-height: 23px;
    width: 100%;
    margin: 0;
    margin-bottom: 34px;
  }
  &-skill {
    @extend %bold;
    font-size: 16px;
    line-height: 18px;
    color: #1181b2;
    background: #deeef4;
    border: 1px solid #aaddf1;
    border-radius: 32px;
    padding: 13px 30px;
    margin: 0;
    margin-right: 30px;
    max-height: 44px;
    margin-bottom: 41px;
  }
  &-skillbox &-btn {
    margin-bottom: 41px;
    margin-top: 0;
  }
  &-box {
    display: flex;
    flex-direction: column;
  }

  &-work {
    position: relative;
  }
  &-work__title {
    @extend %bold;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 31px;
  }
  &-work__content {
    display: flex;
    justify-content: space-between;
    max-width: 978px;
    max-height: 143px;
    border: 1px solid rgba(#747473, 0.23);
    border-radius: 10px;
    align-items: center;
    margin-bottom: 144px;
  }

  &-work__content-left {
    display: flex;
    align-items: center;
    padding: 38px 26px;
    max-width: 390px;
  }
  &-work__content-workedit,
  &-work__content-eduedit {
    position: relative;
    &__btn {
      @extend %bold;
      color: #828282;
      padding: 14px 15px 15px 43px;
      background: #fbfafa;
      border: 1px solid #eae7ea;
      border-radius: 32px;
      font-size: 16px;
      line-height: 18px;
      margin-right: 20px;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        background-image: url('../images/edit.svg');
        top: 10px;
        left: 17px;
      }
    }
  }

  &-work__content-img {
    width: 62px;
    height: 67px;
    margin-right: 20px;
  }
  &-work__content-box {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  &-work__content-title {
    width: 100%;
    @extend %medium;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 7px;
  }
  &-work__content-textImg {
    margin-bottom: 16px;
  }
  &-work__content-text {
    @extend %medium;
    font-size: 16px;
    line-height: 18px;
    color: #1181b2;
    margin-top: 0;
  }
  &-work__content-right__text {
    @extend %bold;
    font-size: 14px;
    line-height: 16px;
    color: #747473;
    margin-right: 26px;
    white-space: nowrap;
  }
  &-workbtn {
    position: absolute;
    position: absolute;
    right: 23.7%;
    bottom: -70px;
  }
}
.profile__main-work__content-eduhidden,
.profile__main-work__content-workhidden {
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 649px;
  max-height: 898px;
  z-index: 1;
  background: #ffffff;
  border-radius: 30px;
  right: 129px;
  bottom: 40px;
  transform: translateY(200%);
  box-shadow: 0px 8px 20px #eae7ea;
  transition: transform 0.3s;
  &--active {
    transform: translateY(0);
  }
  &__inner {
    padding: 74px 70px;
  }
  &__title {
    @extend %bold;
    font-size: 32px;
    line-height: 37px;
    width: 429px;
    margin-bottom: 91px;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__name {
    @extend %medium;
    font-size: 18px;
    line-height: 21px;
    color: #747473;
    margin-bottom: 21px;
  }
  &__input {
    background: #ffffff;
    border: 1px solid #eae7ea;
    border-radius: 16px;
    max-width: 429px;
    margin-bottom: 51px;
    height: 43px;
    outline: none;
    transition: all 0.3s;
    padding-left: 10px;
    &:hover {
      border-color: #26ace2;
    }
    &:focus {
      border-color: #26ace2;
    }
  }
  &__select {
    max-width: 429px;
    background: #ffffff;
    border: 1px solid #eae7ea;
    border-radius: 16px;
    height: 43px;
    margin-bottom: 51px;
    outline: none;
    padding-left: 10px;
    transition: all 0.3s;
    &:hover {
      border-color: #26ace2;
    }
    &-option {
      font-size: 18px;
      line-height: 23px;
      // height: 100px;
    }
  }
  &__box {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 52px;
  }
  &__checkbox {
    margin-right: 16px;

    width: 21px;
    height: 21px;
    opacity: 0;
    z-index: 10;
    position: relative;
    & + label::before {
      content: '';

      position: absolute;
      width: 21px;
      height: 21px;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      border: 1px solid #747473;
      border-radius: 3px;
    }
    &:checked + label::before {
      border: 1px solid #26ace2;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 5.82143L3.63158 8.5L11 1' stroke='%231181B2' stroke-width='2'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__checkbox-label {
    @extend %medium;
    font-size: 16px;
    line-height: 18px;
    color: #747473;
  }
  &__btnbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    &__save {
      width: 201px;
      height: 48px;
      background: #1181b2;
      border: 1px solid #1181b2;
      border-radius: 32px;
      color: #fbfafa;
      font-size: 16px;
      line-height: 18px;
      @extend %bold;
      padding: 14px 56px;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background-color: #000;
        border: 1px solid #000;
      }
    }
    &__del {
      border: 1px solid #747473;
      border-radius: 32px;
      background: rgba(#fbfafa, 0.4);
      font-size: 16px;
      line-height: 18px;
      @extend %bold;
      padding: 14px 56px;
      color: #000;
      cursor: pointer;
      &:hover {
        box-shadow: 0px 8px 20px #eae7ea;
      }
    }
  }
}
.profile__main-work__content-eduhidden {
  bottom: 43px;
}
