<div class="cards-side__box">
  <details open>
    <summary class="cards-side__title cards-side__title--active">
      Hard Skills
    </summary>
    <div class="cards-side__inner">
      {% for skill in hardskills_a %}
        <div class="cards-side__form-box">
          <input type="checkbox" class="cards-side__input" name="hardskills" value="{{ skill.skill }}"/>
          <label class="cards-side__label">{{ skill.skill }}</label>
        </div>
      {% endfor %}
        <details class="details">
          <summary class="summary">20 more</summary>
              {% for skill in hardskills %}
                  {% if not skill in hardskills_a %}
                    <div class="cards-side__hidden" >
                      <div class="cards-side__form-box">
                      <input type="checkbox" class="cards-side__input" name="hardskills"/>
                      <label class="cards-side__label">{{ skill.skill }}</label>
                      </div>
                    </div>
                  {% endif %}
              {% endfor %}
        </details>
    </div>
  <hr class="line">
  </details>
</div>