%light{
    font-family: 'GT Walsheim Pro',sans-serif;
    font-weight: 400;
}
%regular{ 
    font-family: 'GT Walsheim Pro',sans-serif;
    font-weight: 400;
}
%medium{
    font-family: 'GT Walsheim Pro',sans-serif;
    font-weight: 500;
}
%bold{
    font-family: 'GT Walsheim Pro',sans-serif;
    font-weight: 700;
}
