<div class="cards-side__box">
    <h3 class="cards-side__title">Зарплатная вилка</h3>

     <div id="slider-range" type="range" name="salary" value="{{ minSal }}" min="{{ minSal }}" max="{{ maxSal }}"></div>
    <div class="slider-range" name="salary">
      <p class="slider-range__input-text"><input class="slider-range__input" type="text" id="amount1" readonly name="min_sal" value="{{ minSal }}"></p>
      <p class="slider-range__input-text"><input class="slider-range__input" type="text" id="amount2" readonly name="max_sal" value="{{ maxSal }}"></p>
    </div>
</div>