<div class="cards-side__box">
  <details open>
    <summary class="cards-side__title cards-side__title--active">
      Soft skills
    </summary>
    <div class="cards-side__inner">
      {% for skill in softskills %}
        <div class="cards-side__form-box">
          <input type="checkbox" class="cards-side__input" name="softskills" value="{{ skill.skill }}"/>
          <label class="cards-side__label">{{ skill.skill }}</label>
        </div>
      {% endfor %}
      {% if softskills.count > 5 %}
        <details class="details">
          <summary class="summary">{{ softskills.count|add:"-5" }} more</summary>
        </details>
      {% endif %}
    </div>
  <hr class="line">
  </details>
</div>