<div class="cards-side__box">
  <details open>
    <summary class="cards-side__title cards-side__title--active">
      Tools
    </summary>
    <div class="cards-side__inner">
      {% for tool in tools %}
        <div class="cards-side__form-box">
          <input type="checkbox" class="cards-side__input" name="tools" value="{{ tool.tool }}"/>
          <label class="cards-side__label">{{ tool.tool }}</label>
        </div>
      {% endfor %}
      {% if tools.count > 5 %}
        <details class="details">
          <summary class="summary">{{ tools.count|add:"-5" }} more</summary>
        </details>
      {% endif %}
    </div>
  <hr class="line">
  </details>
</div>