{% extends 'juniors/base.html' %}
{% block content %}
<div class="container">
    <form method="post">
        <h1>{{ title }}</h1>
        {% csrf_token %}
        <div class="">{{ form.non_field_errors }}</div>
        {% for i in form %}
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1" >{{ i.label }}</span>
              {{i}}
              <div class="invalid-feedback">{{ i.errors }}</div>
            </div>
        {% endfor %}
        <a class="header__account-link" href="{% url 'registration' %}">Регистрация</a>
        <button class="btn btn-primary" type="submit">Войти</button>
    </form>
</div>
{% endblock %}