{% extends 'juniors/base.html' %}
{% load static %}
{% load jun_tags %}
{% block content %}
<section class="tab">
    <div id="profile" class="container">
      <div class="tabs">
        <a href="{% url 'profile' junior.slug %}" class="tabs-link">Назад без сохранения</a>
      </div>
    <form class="" method="POST" enctype="multipart/form-data">
       {% csrf_token %}
       <div class="profile__header">
         {% if junior.url_img %}
         <img class="profile__header-img" src="{{ junior.url_img.url }}">
         {% else %}
         <img
           class="profile__header-img"
           src="{% static 'juniors/app/images/coder.gif' %}"
           alt="account"
         />
         {% endif %}
         <div class="profile__header-info">
            <div class="profile__header-info__box">
                <h3 class="profile__header-text">{{ form.first_name }} {{ form.last_name }}</h3>
            </div>
            <div class="">{{ form.url_img }}</div>
            <div class="profile__header-flag">{{ form.country }} <img class="profile__header-flag" src="{{ junior.country.image.url }}" alt="flag"></div>
         </div>
       </div>
       <div class="profile__main">
          <form class="profile__main-list">
            <li class="profile__main-item">
              <p class="profile__main-name">Роль</p>
              <p class="profile__main-descr">{{ form.position }}</p>
            </li>
            <li class="profile__main-item">
              <p class="profile__main-name">Языки</p>
              <p class="profile__main-name">{{ form.language }}</p>
            </li>
            <li class="profile__main-item">
              <p class="profile__main-name">Способы связи со мной</p>
              <p><label for="{{ form.linkedin.id_for_label }}"> {{ form.linkedin.label }}: </label> {{ form.linkedin }}</p>
              <p><label for="{{ form.telegram.id_for_label }}"> {{ form.telegram.label }}: </label> {{ form.telegram }}</p>
              {{ messengers_form.as_p }}
            </li>
            <li class="profile__main-item">
              <p class="profile__main-name">Обо мне</p>
              {{ form.description }}
            </li>
          <button type="submit" class="profile__header-btn"> Сохранить изменения </button>
          </form>
            <li class="profile__main-item">
                <p class="profile__main-name">Мой стек навыков и технологий</p>
                <div class="profile__main-box">
        <!--------------------Отображение и добавление Hardskillов-------------------->
                  <div class="profile__main-skillbox">
                    <p class="profile__main-title">Hard skills</p>
                    {% for skill in junior.hardskills_set.all %}
                      <div class="">{{ hardskillup.non_field_errors }}</div>
                      <p class="profile__main-skill">{{ skill.skill }}</p>
                      <a href="{% url 'profile' junior.slug %}?ac=del&t=hardskill&skill={{ skill.skill }}" type="submit" class="btn-close" aria-label="Close">x</a>
                    {% endfor %}
                    <div class="cards-content__hidden">
                      <ul class="cards-content__hidden-list">
                        {% for skill in hardskills %}
                        <li class="cards-content__hidden-item">
                          <a class="cards-content__hidden-link" type="submit" href="{% url 'profile' junior.slug %}?ac=add&t=hardskill&skill={{ skill.skill }}">{{ skill.skill }}</a>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
        <!--------------------Отображение и добавление Softskillов-------------------->
                  <div class="profile__main-skillbox">
                    <p class="profile__main-title">Soft skills</p>
                    {% for skill in junior.softskills_set.all %}
                    <p class="profile__main-skill">{{ skill.skill }}</p>
                    <a href="{% url 'profile' junior.slug %}?ac=del&t=softskill&skill={{ skill.skill }}" type="submit" class="btn-close" aria-label="Close">x</a>
                    {% endfor %}
                    <div class="cards-content__hidden">
                      <ul class="cards-content__hidden-list">
                        {% for skill in softskills %}
                        <li class="cards-content__hidden-item">
                          <a class="cards-content__hidden-link" type="submit" href="{% url 'profile' junior.slug %}?ac=add&t=softskill&skill={{ skill.skill }}">{{ skill.skill }}</a>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
        <!--------------------Отображение и добавление Технологий (Tools)-------------------->
                  <div class="profile__main-skillbox">
                    <p class="profile__main-title">Tools</p>
                    {% for tool in junior.tools_set.all %}
                    <p class="profile__main-skill">{{ tool.tool }}</p>
                    <a href="{% url 'profile' junior.slug %}?ac=del&t=tool&skill={{ tool.tool }}" type="submit" class="btn-close" aria-label="Close">x</a>
                    {% endfor %}
                    <div class="cards-content__hidden">
                      <ul class="cards-content__hidden-list">
                        {% for tool in tools %}
                        <li class="cards-content__hidden-item">
                          <a class="cards-content__hidden-link" type="submit" href="{% url 'profile' junior.slug %}?ac=add&t=tool&skill={{ tool.tool }}">{{ tool.tool }}</a>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
            </li>
          </ul>
          <div class="profile__main-work__wrapper">
              <div class="profile__main-work">
                <h4 class="profile__main-work__title">Work Experience</h4>
                <div class="profile__main-work__content">
                  <div class="profile__main-work__content-left">
                    <img
                      src="{% static 'juniors/app/images/workPic.png' %}"
                      alt="workpic"
                      class="profile__main-work__content-img"
                    />
                    <div class="profile__main-work__content-box">
                      <p class="profile__main-work__content-title">
                        IT Recruiter
                      </p>
                      <p class="profile__main-work__content-text">StarSoft</p>
                      <img
                        class="profile__main-work__content-textImg"
                        alt="dot"
                        src="{% static 'juniors/app/images/dot.svg' %}"
                      />
                      <p class="profile__main-work__content-text">Full-time</p>
                    </div>
                  </div>
                  <div class="profile__main-work__content-right">
                    <p class="profile__main-work__content-right__text">
                      Dec 2020 — Present
                    </p>
                  </div>
                  <div class="profile__main-work__content-workedit">
                    <button class="profile__main-work__content-workedit__btn">Редактировать</button>
                    <div class="profile__main-work__content-workhidden">
                      <div class="profile__main-work__content-workhidden__inner">
                        <h4 class="profile__main-work__content-workhidden__title">Редактировать мой опыт</h4>
                        <form class="profile__main-work__content-workhidden__form" action="#">
                          <label class="profile__main-work__content-workhidden__name" for="#">Роль</label>
                          <input class="profile__main-work__content-workhidden__input" type="text" />
                          <label class="profile__main-work__content-workhidden__name" for="#">Компания</label>
                          <input class="profile__main-work__content-workhidden__input" type="text" />
                          <label class="profile__main-work__content-workhidden__name" for="#">Вид занятости</label>
                          <select class="profile__main-work__content-workhidden__select">
                            <option value="1" class="profile__main-work__content-workhidden__select-option">Full-time</option>
                            <option value="2" class="profile__main-work__content-workhidden__select-option">Part-time</option>
                            <option value="3" class="profile__main-work__content-workhidden__select-option">Mixed</option>
                          </select>

                          <div class="profile__main-work__content-workhidden__box">
                            <input type="checkbox" class="profile__main-work__content-workhidden__checkbox" />
                            <label class="profile__main-work__content-workhidden__checkbox-label">Я все еще тут работаю </label>
                          </div>
                        </form>
                        <div class="profile__main-work__content-workhidden__btnbox">
                          <button class="profile__main-work__content-workhidden__btnbox__save">Сохранить</button>
                          <button class="profile__main-work__content-workhidden__btnbox__del">Удалить</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="profile__main-workbtn btn">Добавить</button>
              </div>
            <div class="profile__main-work">
              <h4 class="profile__main-work__title">Education</h4>
              <div class="profile__main-work__content">
                <div class="profile__main-work__content-left">
                  <img
                    src="{% static 'juniors/app/images/workPic.png' %}"
                    alt="workpic"
                    class="profile__main-work__content-img"
                  />
                  <div class="profile__main-work__content-box">
                    <p class="profile__main-work__content-title">
                      University of Gdansk
                    </p>
                    <p class="profile__main-work__content-text">Management</p>
                    <img
                      class="profile__main-work__content-textImg"
                      alt="dot"
                      src="{% static 'juniors/app/images/dot.svg' %}"
                    />
                    <p class="profile__main-work__content-text">
                      Bachelor’s degree
                    </p>
                  </div>
                </div>
                <div class="profile__main-work__content-right">
                  <p class="profile__main-work__content-right__text">
                    Dec 2020 — Dec 2020
                  </p>
                </div>
                <div class="profile__main-work__content-eduedit">
                  <button class="profile__main-work__content-eduedit__btn">Редактировать</button>
                  <div class="profile__main-work__content-eduhidden">
                    <div class="profile__main-work__content-eduhidden__inner">
                      <h4 class="profile__main-work__content-eduhidden__title">Редактировать образование</h4>
                      <form class="profile__main-work__content-eduhidden__form" action="#">
                        <label class="profile__main-work__content-eduhidden__name" for="#">Учебное заведение</label>
                        <input class="profile__main-work__content-eduhidden__input" type="text" />
                        <label class="profile__main-work__content-eduhidden__name" for="#">Специальность</label>
                        <input class="profile__main-work__content-eduhidden__input" type="text" />
                        <label class="profile__main-work__content-eduhidden__name" for="#">Степень</label>
                        <select class="profile__main-work__content-eduhidden__select">
                          <option value="1" class="profile__main-work__content-eduhidden__select-option">Бакалавр</option>
                          <option value="2" class="profile__main-work__content-eduhidden__select-option">Специалист</option>
                          <option value="3" class="profile__main-work__content-eduhidden__select-option">Магистр</option>
                        </select>
                      </form>
                      <div class="profile__main-work__content-eduhidden__btnbox">
                        <button class="profile__main-work__content-eduhidden__btnbox__save">Сохранить</button>
                        <button class="profile__main-work__content-eduhidden__btnbox__del">Удалить</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="profile__main-workbtn btn">Добавить</button>
            </div>
          </div>
       </div>
       <div id="reservations" class="tab-content"></div>
       <div id="messages" class="tab-content"></div>

    </div>
</section>
{% endblock %}